<div class="d-flex flex-row justify-content-center align-items-center my-5">
  <div class="container text-white">
    <h1 class="my-4">About</h1>
    <p>
      <a href="https://provision.sh">Provision.sh</a> was created by
      <a href="https://vinc.cc" class="">Vinc</a> to easily bootstrap a
      <a href="http://dokku.viewdocs.io/dokku/">Dokku</a> or
      <a href="https://flynn.io/">Flynn</a> platform on most cloud providers.
    </p>

    <p>
      An earlier version hosted at
      <a href="https://provisioning.sh">Provisioning.sh</a> used a custom JSON
      manifest file with <a href="http://fog.io/">Fog</a> but the result was
      similar to <a href="https://www.terraform.io/">Terraform</a> so the
      project was rewritten from scratch to use the latter. It is now an
      infrastructure code generator for Terraform.
    </p>

    <p>
      The aim of this project is to run a script to create an infrastructure
      capable of deploying the code of an app with a simple git push command
      and make devops more accessible to devs.
    </p>

    <p>
      Read the <a href="/docs">docs</a> to learn more.
    </p>
  </div>
</div>
