<div id="app" spellcheck="false" class="d-flex flex-row justify-content-center align-items-center my-5">
  <div class="container text-white">
    <h1 class="my-5">Bootstrap your infrastructure</h1>
    <p>
      Provision <span contenteditable @input="platform=$event.target.innerText">Dokku</span>
      on <span contenteditable @input="cloud=$event.target.innerText">DigitalOcean</span>
      at <span contenteditable @input="domain=$event.target.innerText">example.com</span>
      with <span contenteditable @input="services=$event.target.innerText">Postgres and Redis</span>
      by running the following commands:
    </p>

    <pre class="rounded my-4 p-3 text-white-50"><code>\{{exports}}curl -sSL "\{{url}}" | bash</code></pre>

    <p>And deploy your app:</p>

    <pre class="rounded my-4 p-3 text-white-50"><code>git push \{{platform.toLowerCase()}} master</code></pre>
  </div>
</div>

<div class="d-flex flex-row justify-content-center align-items-center my-5">
  <div class="container text-white">
    <h2 class="my-4">How does it work?</h2>
    <p>
      Provision.sh leverages powerful open source tools like
      <a href="https://github.com/hashicorp/terraform">Terraform</a> and
      <a href="https://github.com/dokku/dokku">Dokku</a> or
      <a href="https://github.com/flynn/flynn">Flynn</a>
      to build your own platform as a service on most cloud providers.
    </p>
    <p>
      It helps you get started by generating and running for you the code of your infrastructure.
      And it can also teach you how to do it yourself if you read the script.
    </p>
  </div>
</div>
<div class="container text-white">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link text-white-50" href="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white-50" href="#">Docs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white-50" href="https://github.com/vinc/provision.sh">Code</a>
    </li>
  </ul>
</div>
