<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>

    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/roboto-slab-fontface-kit/roboto-slab.css">
    <link rel="stylesheet" href="index.css">
  </head>
  <body class="index">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand text-white" href="/">Provision.sh</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link text-white-50" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white-50" href="/docs">Docs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white-50" href="https://github.com/vinc/provision.sh">Code</a>
          </li>
        </ul>
      </div>
    </nav>

    {{{body}}}

    <script src="/node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/node_modules/vue/dist/vue.min.js"></script>
    <script src="index.js"></script>
  </body>
</html>
